In [141]:
#The database source is Kaggle.
#It has 3 datasets: Answer, Question, and Survey.
#The data is from a survey measures and attitudes towards mental health and frequency of mental health disorders in the tech workplace.
#The original data format was a SQLite file which I transformed into an SQL file and cleaned up a bit.
#By cleaning up, It was just removing some lines that were not relevant to the queries needed to define the tables and populate them.
#The data however is used as it was retrieved from the source.
#This is the link to original data: https://www.kaggle.com/datasets/anth7310/mental-health-in-the-tech-industry?select=mental_health.sqlite

In [142]:
import sqlite3 as db
import pandas as pd

In [143]:
conn = db.connect("mental_health.sqlite")
cursor = conn.cursor()

In [144]:
#---------------------TASK2---------------------------------

In [145]:
#Q1
#This query returns IDs of FEMALE users only and the survey description that each one took
query = "select UserID, AnswerText, Description from answer join survey on answer.SurveyID = survey.SurveyID where AnswerText = 'female'"
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall())
df.columns = ['UserID', 'Gender', 'Description']
df = df.rename(index = lambda x: '')
print(df)

    UserID  Gender                    Description
      2698  female  mental health survey for 2017
      2708  female  mental health survey for 2017
      2716  female  mental health survey for 2017
      2721  female  mental health survey for 2017
      2724  female  mental health survey for 2017
..     ...     ...                            ...
      4181  female  mental health survey for 2019
      4183  female  mental health survey for 2019
      4208  female  mental health survey for 2019
      4213  female  mental health survey for 2019
      4217  female  mental health survey for 2019

[110 rows x 3 columns]

In [146]:
#Q2
#Since all attributes in the datasets of the database that i choose are filled
#and there are no missing values, I wrote the query below to show how many people responded
#with N/A instead of giving a definite answer 
#since it can be another form of leaving the attribute with a null value
query = " select count(answer.userid) from answer join question on answer.QuestionID = question.QuestionID where AnswerText like 'N/A%'"
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall())
df.columns = ['Number of N/A answers for question 24']
df.index = ['']
print(df)

  Number of N/A answers for question 24
                                   1209

In [147]:
#Q3
#This query returns IDs of users who did not take the 2014 survey
query = "select UserID, survey.SurveyID from answer join survey on answer.SurveyID = survey.SurveyID where answer.SurveyID!=2014 order by survey.SurveyID"
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall())
df.columns = ['UserID', 'Year of Survey']
df = df.rename(index = lambda x: '')
print(df)

    UserID  Year of Survey
      1261            2016
      1262            2016
      1263            2016
      1264            2016
      1265            2016
..     ...             ...
      4214            2019
      4215            2019
      4216            2019
      4217            2019
      4218            2019

[204138 rows x 2 columns]

In [148]:
#Q4
#This query returns IDs of users who only took one survey
query = "select UserID, SurveyID from answer where UserID not in (select A.UserID from answer A, answer B where A.UserID = B.UserID and A.SurveyID <> B.SurveyID)"
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall())
df.columns = ['UserID', 'SurveyID']
df = df.rename(index = lambda x: '')
print(df)

    UserID  SurveyID
         1      2014
         2      2014
         3      2014
         4      2014
         5      2014
..     ...       ...
      2689      2016
      2690      2016
      2691      2016
      2692      2016
      2693      2016

[236898 rows x 2 columns]

In [149]:
#Q5
#This query returns the age and the number of people with that age who
#took the surveys and answered question 1 which was what is your age
query = "select count(UserID), AnswerText from answer where QuestionID=1 group by AnswerText order by AnswerText"
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall())
df.columns = ['How many people of this Age', 'Age']
df = df.rename(index = lambda x: '')
print(df)

    How many people of this Age  Age
                              5   -1
                              1  -29
                              1    0
                              1   11
                              1   15
..                          ...  ...
                              1   70
                              1   72
                              1   74
                              1    8
                              1   99

[65 rows x 2 columns]

In [150]:
#Q6
#This query returns the min and max ages of the people who took the surveys
query = "select min(AnswerText), max(AnswerText) from answer where QuestionID=1"
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall())
df.columns = ['Minimum Age', 'Maximum Age']
df = df.rename(index = lambda x: '')
print(df)

 Minimum Age Maximum Age
          -1          99

In [151]:
#Q7
#This query returns the ID of a user matched with an ID of other users with the same age indicating the age of both matched users
query = "select A.UserID, A.AnswerText, B.UserID, B.AnswerText from answer A, answer B where A.UserID <> B.UserID and A.QuestionID = 1 and B.QuestionID = 1 and A.AnswerText = B.AnswerText order by A.UserID"
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall())
df.columns = ['User ID of Person', 'Age', 'User ID of Another Person with same age', 'Age']
df = df.rename(index = lambda x: '')
print(df)

    User ID of Person Age  User ID of Another Person with same age Age
                    1  37                                       30  37
                    1  37                                      142  37
                    1  37                                      146  37
                    1  37                                      155  37
                    1  37                                      186  37
..                ...  ..                                      ...  ..
                 4218  24                                     4102  24
                 4218  24                                     4112  24
                 4218  24                                     4154  24
                 4218  24                                     4190  24
                 4218  24                                     4196  24

[675142 rows x 4 columns]

In [152]:
#---------------------TASK3---------------------------------

In [153]:
#Q1

In [154]:
query = "select * from answer"
df = pd.read_sql_query(query,conn)

In [155]:
df

                AnswerText  SurveyID  UserID  QuestionID
0                       37      2014       1           1
1                       44      2014       2           1
2                       32      2014       3           1
3                       31      2014       4           1
4                       31      2014       5           1
...                    ...       ...     ...         ...
236893               Other      2016    2689         117
236894             Support      2016    2690         117
236895  Back-end Developer      2016    2691         117
236896     DevOps/SysAdmin      2016    2692         117
236897               Other      2016    2693         117

[236898 rows x 4 columns]

In [156]:
df.to_csv('Answer.csv')

In [157]:
query = "select * from question"
df = pd.read_sql_query(query,conn)

In [158]:
df

                                          questiontext  questionid
0                                    What is your age?           1
1                                 What is your gender?           2
2                         What country do you live in?           3
3    If you live in the United States, which state ...           4
4                               Are you self-employed?           5
..                                                 ...         ...
100  Do you think that team members/co-workers woul...         114
101  If yes, what condition(s) have you been diagno...         115
102  If maybe, what condition(s) do you believe you...         116
103  Which of the following best describes your wor...         117
104                              Do you work remotely?         118

[105 rows x 2 columns]

In [159]:
df.to_csv('Question.csv')

In [160]:
query = "select * from survey"
df = pd.read_sql_query(query,conn)

In [161]:
df

   SurveyID                    Description
0      2014  mental health survey for 2014
1      2016  mental health survey for 2016
2      2017  mental health survey for 2017
3      2018  mental health survey for 2018
4      2019  mental health survey for 2019

In [162]:
df.to_csv('Survey.csv')

In [163]:
#---------------------TASK3---------------------------------

In [164]:
#Q2

In [165]:
#1
#This query returns IDs of FEMALE users only and the survey description that each one took
df1 = pd.read_csv('Answer.csv')
df2 = pd.read_csv('Survey.csv')
df_merged = pd.merge(df1, df2, on = 'SurveyID')
df = df_merged.loc[df_merged['AnswerText'] == 'female', ['UserID','AnswerText', 'Description'] ]
df.columns = ['UserID', 'Gender', 'Description']
df = df.rename(index = lambda x: '')
print(df)

    UserID  Gender                    Description
      2698  female  mental health survey for 2017
      2708  female  mental health survey for 2017
      2716  female  mental health survey for 2017
      2721  female  mental health survey for 2017
      2724  female  mental health survey for 2017
..     ...     ...                            ...
      4181  female  mental health survey for 2019
      4183  female  mental health survey for 2019
      4208  female  mental health survey for 2019
      4213  female  mental health survey for 2019
      4217  female  mental health survey for 2019

[110 rows x 3 columns]

In [166]:
#2
#Since all attributes in the datasets of the database that i choose are filled
#and there are no missing values, I wrote the query below to show how many people responded
#with N/A instead of giving a definite answer 
#since it can be another form of leaving the attribute with a null value
df1 = pd.read_csv('Answer.csv')
df2 = pd.read_csv('Question.csv')
df_merged = pd.merge(df1, df2, left_on = 'QuestionID', right_on = 'questionid')
df3 = df_merged.query('AnswerText.str.contains("N/A")')
print('Number of N/A answers for question 24')
print(len(df3))

Number of N/A answers for question 24
1206

In [167]:
#3
#This query returns IDs of users who did not take the 2014 survey
df1 = pd.read_csv('Answer.csv')
df2 = pd.read_csv('Survey.csv')
df_merged = pd.merge(df1, df2, on = 'SurveyID')
df = df_merged.loc[df_merged['SurveyID'] != 2014, ['UserID','SurveyID'] ]
df.columns = ['UserID', 'Year of Survey']
df = df.rename(index = lambda x: '')
print(df)

    UserID  Year of Survey
      1261            2016
      1262            2016
      1263            2016
      1264            2016
      1265            2016
..     ...             ...
      4214            2019
      4215            2019
      4216            2019
      4217            2019
      4218            2019

[204138 rows x 2 columns]

In [168]:
#4
#This query returns IDs of users who only took one survey
#I had to do a self join on table Answer(AnswerText, SurveyID, UserID, QuestionID)
#but couldn't figure out how to do a self join on a table where if i was to create two aliases
#the common column has the same name in both aliases. i kept getting an error about indexes

In [169]:
#5
#This query returns the age and the number of people with that age who
#took the surveys and answered question 1 which was what is your age
df1 = pd.read_csv('Answer.csv')
df = df1.loc[df1['AnswerText'] == 1, ['UserID','SurveyID'] ]
df.columns = ['UserID', 'Year of Survey']
df = df.rename(index = lambda x: '')
print(df)

Empty DataFrame
Columns: [UserID, Year of Survey]
Index: []

In [170]:
#6
#This query returns the min and max ages of the people who took the surveys

df1 = pd.read_csv('Answer.csv')
df_temp = df1.loc[df1['QuestionID'] == 1, ['AnswerText'] ]
df = {'Minimum Age':[df_temp.min().to_string(index=False,dtype=False)], 'Maximum Age':[df_temp.max().to_string(index=False,dtype=False)]}
print(df)

{'Minimum Age': ['-1'], 'Maximum Age': ['99']}

In [171]:
#7
#This query returns IDs of users who only took one survey
#I had to do a self join on table Answer(AnswerText, SurveyID, UserID, QuestionID)
#but couldn't figure out how to do a self join on a table where if i was to create two aliases
#the common column has the same name in both aliases. i kept getting an error about indexes

In [172]:
cursor.close()
conn.close()